CLOUD_USERNAME=""
CLOUD_PASSWORD=""
DEVICE_ID=""
AUTH_CODE=""
DEVICE_PASSWORD=""
CLOUD_CLIENT_UUID=""
CAMERA_CHANNEL=1
CAMERA_STREAM=2
CLOUD_AUTH_VERSION=""
CLOUD_AUTH_URL=""
CLOUD_SERVICE_URL=""
CAMERA_OEM=""
CAMERA_APP_ID=
CAMERA_CLIENT_TYPE=
IP_REGION_ID=
LOG_LEVEL=info
